button, input, select, textarea {
  font-size: 1em;
  font-family: $font-family;
}

input[type="text"], input[type="password"], select, textarea { 
  outline: 0;
  background: $color-alt;
  color: $color-reverse;
  border-color: $color-reverse;
  @include box-sizing(border-box);
  width: 100%;
}

input[type="text"], input[type="password"], textarea {
  padding: 0.6em 0.8em;
}

input[type="text"]:focus, input[type="text"]:active, select:focus, select:active {
  // dont know
}

textarea {
  resize: vertical;
  min-height: 8em;
}

.with-error {
  border-color: #bc0f17;
}

.error-msg, .success-msg {
  font-family: $font-header;
  font-size: 1em;
  margin: 1em 0;
  font-weight: bold;
  display: none;
}

.error-msg {
  color: #bc0f17;
}

.success-msg {
  color: #00aa0c;
}