.wrapper {
  width: 780px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
  @include box-sizing(border-box);
}

#content {
  padding-top: 1em;
  background: $color-reverse;
}

#footer {
  @include reverse-bg;
  padding: 1em;
}

.page {
  // display: none;
  padding-bottom: 5em;
}