.wrapper {
  width: 780px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
  @include box-sizing(border-box);
}

#main-section {
  background: $color-reverse;
}

#header {
  background: $color-alt;
  
  .wrapper {
    @include pie-clearfix;
  }

  .title {
    color: $color-reverse-alt;
    line-height: 2.5em;
    float: left;
  }
}

.index-page #header .title {
  display: none;
}

#footer {
  @include reverse-bg;
  padding: 1em 0;
}

.go-to-menu {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAARCAYAAAAyhueAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACVJREFUeNpi/A8EDFQGTAw0ADQxdBRQHzCOJqlRMJqkqAgAAgwAxggMBCM7bBAAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  height: 2.5em;
  text-indent: -9999px;
  display: inline-block;

  float: right;
}

#menu {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    border-bottom: 1px solid $color-reverse;

    &:first-child {
      border-top: 1px solid $color-reverse;
    }
  }

  a {
    display: block;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
  }
}