#index-page {
  
  h1, h2, h3 {
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    background-image: url(../images/krzys2011.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 12em;

    margin: 0 auto;
    max-width: 20em;
  }
}

.call-to-action-box {
  text-align: center;
}



#about-page {
  // display: none;
   
  ul {
    padding: 0;
  }

  li {
    list-style: none;

    a {
      display: block;
      padding: 1em 2em;
      margin-bottom: 0.2em;
      background: #eee;
    }
  }
}

#benefits-page {
  // display: none;
}

#contact-page {
  // display: none;
}
