#index-page {
  @include pie-clearfix;
}

.message-box {
  @include reverse-bg;
  margin-bottom: 1em;
  padding: 1em;
  @include box-sizing(border-box);

  em {
    color: $color-reverse;
  }
}

.my-message {
  float: right;
  width: 55%;
  
  top: 10%;
  right: 0;
}

.image-of-me-box {
  width: 40%;
  margin-right: 5%;
  margin-bottom: 1em;
  float: left;

  img {
    width: 100%;
    display: block;
  }
}

.call-to-action-box {
  clear: right;
}



#about-page {
  // display: none;
   
  ul {
    padding: 0;
  }

  li {
    list-style: none;

    a {
      display: block;
      padding: 1em 2em;
      margin-bottom: 0.2em;
      background: #eee;
    }
  }
}

#benefits-page {
  // display: none;
}

#contact-page {
  // display: none;
}
