#index-page {

  .image {
    background-image: url(../images/home2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 12em;

    margin: 0 auto;
    max-width: 80%;

    @include transition(all 1s ease-in-out);

    &.alt {
      background-image: url(../images/home.jpg);
    }
  }

  @media only screen and (min-width: 30em) {
    .image {
      height: 21em;
    }
  }
}


#feedback-section {
  textarea {
    @include max-width;
    margin-bottom: 1em;
    display: block;
  }
}

#share-section {
  .button {
    margin: 0 0.5em 1em;
  }
}