.hidden {
  display: none;
}

.button {
  @include reverse-bg;
  color: $color-reverse;

  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: $font-header;

  @include transition(all 0.2s ease-in-out);

  &:hover {
    background-color: #222;
    text-decoration: none;
  }

  &.with-icon {
    position: relative;
    padding-right: 3.5em;
    
    &:after {
      @include icon-base;
      content: '\E75A';

      font-weight: normal;
      font-size: 2.5em;

      position: absolute;
      right: 0.3em;
      top: 50%;
      margin-top: -0.5em;
    }
  }

  &.external:after {
    content: '\E715';
  }

  &.github:after {
    font-family: $font-family-icons-social;
    content: '\F300';
  }
}

.page {
  padding-bottom: 6em;

  h2 {
    @include max-width;
    text-align: center;
  }
}

.item-list {
  .item-list-element {
    border-bottom: 1px solid #111;
    display: block;
    
    &:first-child {
      border-top: 1px solid #111;
    }

  }

  &.github {
    .item-list-element:after {
      font-family: $font-family-icons-social;
      content: '\F300';
    }
  }
}

.item-list-element {
  position: relative;
  padding: 0.8em 2.5em 0.8em 0.5em;

  .primary {
    font-size: 1.4em;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  .secondary {

  }

  &:after {
    @include icon-base;
    content: '\E75A';

    position: absolute;
    right: 0.1em;
    top: 50%;
    margin-top: -0.5em;
  }

  &.email:after {
    content: '\2709';
  }

  &.twitter:after {
    font-family: $font-family-icons-social;
    content: '\F309';
  }

  &.skype:after {
    font-family: $font-family-icons-social;
    content: '\F339';
  }

  &.location:after {
    content: '\27A2';
  }
}

a.item-list-element {
  &:hover {
    text-decoration: none;
    background: #ddd;
  }
}

header.with-anchor {
  position: relative;

  a.anchor {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.icon {
  @include icon-base;
}

.top-box {
  text-align: center;
  margin-bottom: 2em;

  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    @include max-width;
  }
}

.bottom-box {
  text-align: center;
  margin-top: 3em;

  p {
    @include max-width;
  }
}

