%article
  %header.top-box
    %h1
      rocking-your-ass music
    
  .bottom-box
    %p
      in my free time I play bass guitar with my friends in punk-rap Polish band called Second Best Solution

    %a.button.with-icon.soundcloud{:href => 'https://soundcloud.com/sbsband', :target => '_blank'}
      listen us on soundcloud