%article
  %header.top-box
    %h1
      open source
    %p
      I love freedom, openess, and reusing existing tools to build on top of them, check my side projects

  .item-list.github
    %a.item-list-element{:href => 'https://github.com/krzysu/flot.tooltip'}
      .primary
        flot.tooltip
      .secondary
        tooltip plugin for wonderful Flot plotting library
    %a.item-list-element{:href => 'https://github.com/krzysu/case.study.template'}
      .primary
        case study template
      .secondary
        ready template for your next case study or portfolio page
    %a.item-list-element{:href => 'https://github.com/krzysu/jquery.positioner'}
      .primary
        jquery.positioner
      .secondary
        keep element in fixed position during window scroll
    %a.item-list-element{:href => 'https://github.com/krzysu/berlinjs-meteor'}
      .primary
        meteor.js tutorial
      .secondary
        let's build simple chat with facebook authentication
    %a.item-list-element{:href => 'https://github.com/krzysu/kris.urbas.mobile'}
      .primary
        this page is also open source!
      .secondary
        check my coding style


  .bottom-box
    %p
      or just
    %a.button.with-icon.github{:href => 'https://github.com/krzysu'}
      visit my github