%article
  %header.top-box
    %h1 startups
  

  .bottom-box
    %p
      I build simple and powerfull products following The Lean Startup way
    %p
      %strong
        Not sure about your businness?
    %a.button{:href => '#!/contact'}
      contact me for free consultation