%h1 
  %em
    %a{:href => '#/'} Kris Urbas
%h2
  About me

%ul
  %li
    %a{:href => '#'} front-end dev
  %li
    %a{:href => '#'} UX design
  %li
    %a{:href => '#'} startups
  %li
    %a{:href => '#'} open source
  %li
    %a{:href => '#'} bass guitar