%article
  %header.top-box
    %h1.more-below
      frontend & user experience

    :markdown
      for more than 4 years I've been making the Internet a better place by building and improving various web applications and websites, always with user centric approach and attention to details

      you can treat list below as my portfolio

  .item-list
    %a.item-list-element.external{:href => 'http://portfolio.myviews.pl/resfinity_hotel_2012/', :target => '_blank'}
      .primary
        anixe resfinity hotel
      .secondary
        case study

    %a.item-list-element.external{:href => 'http://mall.ondango.com/', :target => '_blank'}
      .primary
        ondango shopping mall
      .secondary
        production ready app in meteor.js

    %a.item-list-element.blog{:href => 'http://blog.myviews.pl/', :target => '_blank'}
      .primary
        blog.myviews.pl
      .secondary
        my posts about life and product development
    
  .bottom-box
    %p
      let's talk
    %a.button.with-icon{:href => '#!/contact'}
      contact me

