%article
  %header.top-box
    %h1
      rocking-your-ass music
    %p
      in my free time I play bass guitar with my band and experiment with electronic music
    %p
      listen, like, tell your friends and see you on my next gig!

  .item-list
    %a.item-list-element.soundcloud{:href => 'https://soundcloud.com/alltheseanimals', :target => '_blank'}
      .primary
        All These Animals
      .secondary
        my current, Berlin-based, alternative rock band

    %a.item-list-element.soundcloud{:href => 'https://soundcloud.com/krzysu', :target => '_blank'}
      .primary
        Kris Urbas
      .secondary
        my personal music experiments on Soundcloud

  .bottom-box
    %p
      questions, feedback, coffee?
    %a.button.with-icon{:href => '#!/contact'}
      contact me