%article
  %h1
    who am I?

  .item-list
    .item-list-element
      %a{:href => '#!/about-front-end'} frontend & user experience
    .item-list-element
      %a{:href => '#!/about-startups'} startups
    .item-list-element
      %a{:href => '#!/about-open-source'} open source
    .item-list-element
      %a{:href => '#!/about-job-offer'} open mind
    .item-list-element
      %a{:href => '#!/about-music'} rocking-your-ass music

  %p
    Not interested?
  %a.button.anchor{:href => '#feedback-section'} Let me know why

