%article
  %header.top-box
    %h1.more-below
      games development

    :markdown
      I am very fond of video games, especially indie ones. So I decided to develop my own games. Below is the list of what I've done so far

  .item-list
    %a.item-list-element.external{:href => 'http://games.myviews.pl/heal-em-all/', :target => '_blank'}
      .primary
        Heal'em All. There's a cure for zombies
      .secondary
        what if zombies plague can be stoped?

  .bottom-box
    %p
      like them?
    %a.button.with-icon{:href => '#!/contact'}
      contact me

