%article
  %header
    %h1 open mind
  %p
    I am always open for new oportunities, if you have an interesting project and you think I would be a good fit...
  %a.button{:href => '#!/contact'}
    offer me a job
  %p or
  %a.button{:href => '#'}
    check my CV