%article
  %header.top-box
    %h1
      open source
    %p
      I love freedom, openess, and reusing existing tools to build on top of them, check my side projects

  .item-list.github
    %a.item-list-element{:href => 'https://github.com/krzysu/flot.tooltip', :target => '_blank'}
      .primary
        flot.tooltip
      .secondary
        tooltip plugin for wonderful Flot plotting library
    %a.item-list-element{:href => 'https://github.com/krzysu/game-off-2013', :target => '_blank'}
      .primary
        game off 2013 game jam
      .secondary
        source code of my HTML5 game
    %a.item-list-element{:href => 'https://github.com/krzysu/reactjs-shopping-cart', :target => '_blank'}
      .primary
        react.js shopping cart - demo
      .secondary
        meteor.js and polymer.js versions are also available
    %a.item-list-element{:href => 'https://github.com/krzysu/case.study.template', :target => '_blank'}
      .primary
        case study template
      .secondary
        ready template for your next case study or portfolio page
    %a.item-list-element{:href => 'https://github.com/krzysu/kris.urbas.mobile', :target => '_blank'}
      .primary
        this page is also open source!
      .secondary
        check my coding style


  .bottom-box
    %p
      or just
    %a.button.with-icon.github{:href => 'https://github.com/krzysu', :target => '_blank'}
      visit my github
