%article
  %header.top-box
    %h1
      HTML5 game development
    %p
      my games and game-development-related things

  .item-list
    %a.item-list-element.external{:href => 'http://games.myviews.pl/heal-em-all/', :target => '_blank'}
      .primary
        Heal'em All. There's a cure for zombies
      .secondary
        what if zombies plague can be stoped?

    %a.item-list-element.external{:href => 'http://games.myviews.pl/breakout/', :target => '_blank'}
      .primary
        Another Breakout
      .secondary
        just a weekend challenge

    %a.item-list-element.external{:href => 'http://games.myviews.pl/indie-html5-game-dev-slides/', :target => '_blank'}
      .primary
        Indie HTML5 Game Development: Lessons Learned
      .secondary
        slides from my talk on Berlin.JS

  .bottom-box
    %p
      questions, feedback, coffee?
    %a.button.with-icon{:href => '#!/contact'}
      contact me
