%article
  %header
    %h1 frontend & user experience
  %p
    for more than 4 years I've been making the Internet a better place by building and improving various web applications, always with user centric approach
  %a.button.external-link{:href => '#'}
    hotel booking app case study