
%h2
  I'm mainly
  %em web developer
  and
  %em UX designer
  but I'm
  %em open for new oportunities!


%ul
  %li
    %a{:href => '#'} front-end dev
  %li
    %a{:href => '#'} UX design
  %li
    %a{:href => '#'} startups
  %li
    %a{:href => '#!/about-open-source'} open source
  %li
    %a{:href => '#'} bass guitar