%article
  %header.top-box
    %h1
      rocking-your-ass music
    %p
      in my free time I play bass guitar with my band and experiment with electronic music
    %p
      listen, like, tell your friends and see you on my next gig!

  .item-list
    %a.item-list-element.soundcloud{:href => 'https://soundcloud.com/alltheseanimals', :target => '_blank'}
      .primary
        All These Animals
      .secondary
        my current, Berlin-based, alternative rock band

    %a.item-list-element.soundcloud{:href => 'https://soundcloud.com/sbsband', :target => '_blank'}
      .primary
        Second Best Solution
      .secondary
        my previous Polish punk-rap band

    %a.item-list-element.soundcloud{:href => 'https://soundcloud.com/pokojwypoczynku', :target => '_blank'}
      .primary
        Pokój Wypoczynku
      .secondary
        the name means "chillout room", old recordings with friends but I still like them

  .bottom-box  
    %p
      also visit my personal
    %a.button.with-icon.soundcloud{:href => 'https://soundcloud.com/krzysu', :target => '_blank'}
      soundcloud account