%article
  %header
    %h1 rocking-your-ass music 
  %p
    in my free time I play bass guitar with my punk-rap Polish band called Second Best Solution
  %a.button.external-link{:href => '#'}
    listen us on soundcloud