%article
  %header.top-box
    %h1
      frontend & user experience
    
  .bottom-box
    %p
      for more than 4 years I've been making the Internet a better place by building and improving various web applications, always with user centric approach

    %p
      please take a look at one of my project's case study

    %a.button.with-icon.external{:href => 'http://portfolio.myviews.pl/resfinity_hotel_2012/', :target => '_blank'}
      resfinity hotel case study