%article
  %header.top-box
    %h1
      who I am
    %p in a few keywords

  .item-list
    %a.item-list-element{:href => '#!/about-front-end'}
      .primary
        frontend & user experience
      .secondary
        case study included

    %a.item-list-element{:href => '#!/about-game-dev'}
      .primary
        game development
      .secondary
        indie developer in HTML5 world

    / %a.item-list-element{:href => '#!/about-startups'}
    /   .primary
    /     startups
    /   .secondary
    /     ask for free consultations

    %a.item-list-element{:href => '#!/about-open-source'}
      .primary
        open source
      .secondary
        my github projects

    / %a.item-list-element{:href => '#!/about-job-offer'}
    /   .primary
    /     open for oportunities
    /   .secondary
    /     looking for a talent?

    %a.item-list-element{:href => '#!/about-music'}
      .primary
        rocking-your-ass music
      .secondary
        free time & hobby
  
  .bottom-box  
    %p
      not interested?

    %a.button.anchor.with-icon.feedback{:href => '#feedback-section'}
      let me know why

