%article
  %header.top-box
    %h1
      open mind
    
  .bottom-box
    %p
      I am always open for new oportunities. If you have an interesting project and you think I would be a good fit...

    %a.button.with-icon{:href => '#!/contact'}
      offer me a job
    %p or
    %a.button.with-icon.zerply{:href => 'https://www.linkedin.com/in/krzysu', :target => '_blank'}
      check my resume on linkedin