%h1 
  %em
    %a{:href => '#/'} Kris Urbas
%h2
  Why me?

%ul
  %li
    %a{:href => '#'} wide knowledge
  %li
    %a{:href => '#'} problem solver
  %li
    %a{:href => '#'} forward thinker
  %li
    %a{:href => '#'} top edge skills
  %li
    %a{:href => '#'} lean & agile
  %li
    %a{:href => '#'} team player