%h1 
  %em
    %a{:href => '#/'} Kris Urbas
%h2
  Contact me

%ul
  %li
    %a{:href => '#'} send me email
  %li
    %a{:href => '#'} skype me
  %li
    %a{:href => '#'} follow me on twitter
  %li
    %a{:href => '#'} fork me on github
  %li
    %a{:href => '#'} my résumé on zerply
  %li
    %a{:href => '#'} listen to my band
  
%div
  or let's meet in Berlin, Germany