%article
  %header.top-box
    %h1
      contact me
    %p guaranteed: 100% response rate


  .item-list
    .item-list-element
      .primary
        by email
      .secondary
        %span{:style => "unicode-bidi:bidi-override;direction:rtl;"} moc.liamg@lp.usyzrk

    .item-list-element
      .primary
        by skype
      .secondary
        krzysu86

    %a.item-list-element{:href => ''}
      .primary
        by twitter
      .secondary
        follow @krzysu

    .item-list-element
      .primary
        or let's meet
      .secondary
        currently in Berlin, Germany

  .bottom-box  
    %p
      don't forget to

    %a.button.anchor{:href => '#feedback-section'}
      leave some feedback
