%article
  %h1
    contact me

.item-list
  .item-list-element
    %a{:href => '#'} send me email
  .item-list-element
    %a{:href => '#'} skype me
  .item-list-element
    %a{:href => '#'} follow me on twitter
  .item-list-element
    %a{:href => '#'} fork me on github
  .item-list-element
    %a{:href => '#'} my résumé on zerply
  .item-list-element
    %a{:href => '#'} listen to my band
  .item-list-element
    %a{:href => '#'} let's meet in Berlin, Germany

%p
  don't forget to leave some feedback
%a.button.anchor{:href => '#feedback-section'} leave some feedback