%article
  %header.top-box
    %h1
      contact me
    %p guaranteed: 100% response rate


  .item-list
    .item-list-element.email
      .primary
        by email
      .secondary
        %span{:style => "unicode-bidi:bidi-override;direction:rtl;"} moc.liamg@lp.usyzrk

    %a.item-list-element.twitter.external{:href => 'https://twitter.com/krzysu'}
      .primary
        by twitter
      .secondary
        @krzysu

    %a.item-list-element.skype{:href => 'skype:krzysu86?chat'}
      .primary
        by skype
      .secondary
        krzysu86

    .item-list-element.location
      .primary
        or let's meet
      .secondary
        currently in Berlin, Germany

  .bottom-box  
    %p
      don't forget to

    %a.button.anchor{:href => '#feedback-section'}
      leave some feedback
