%article
  %header.top-box
    %h1
      contact me
    %p guaranteed: 100% response rate


  .item-list
    %a.item-list-element.email#set-email{:href => ''}
      .primary
        by email
      .secondary
        %span{:style => "unicode-bidi:bidi-override;direction:rtl;"} moc.liamg@lp.usyzrk

    %a.item-list-element.twitter{:href => 'https://twitter.com/krzysu'}
      .primary
        by twitter
      .secondary
        @krzysu

    %a.item-list-element.skype{:href => 'skype:krzysu86?chat'}
      .primary
        by skype
      .secondary
        krzysu86

    %a.item-list-element.location{:href => 'http://www.meetup.com/Meteor-Berlin/members/76771952/', :target => '_blank'}
      .primary
        or let's meet
      .secondary
        currently in Berlin, Germany

  .bottom-box  
    %p
      don't forget to

    %a.button.anchor.with-icon.share{:href => '#share-section'}
      tell the others
