%article#feedback-section
  %header.top-box
    %h1 feedback
    %p much appreciated
  

  .bottom-box
    %form#feedback-form
      %textarea{:placeholder => "what you don't like or would have done better?"}
      %a.button.alt{:href => '#'} send
      .error-msg
        Please write at least few words :/
      .success-msg
        Thanks!


