%ul.list-of-links
  %li
    %a{:href => '#!/'} start
  %li
    %a{:href => '#!/about'} about
  %li
    %a{:href => '#!/benefits'} benefits
  %li
    %a{:href => '#!/contact'} contact
  %li
    %a{:href => '#!/making-of'} making of
