%header.top-box
  %h1
    .hidden Kris Urbas:
    more than
    %br
    %em web developer

.image

%h2
  Hi, my name is 
  %em Kris&nbsp;Urbas

.bottom-box
  %p let me show you around

  %a.button.with-icon{:href => '#!/about'} Continue