%section#menu-section
  %header.with-anchor
    %h1 menu

    %a.anchor{:href => '#header'} go to top

  %ul
    %li
      %a{:href => '#!/'} start
    %li
      %a{:href => '#!/about'} about
    %li
      %a{:href => '#!/contact'} contact