%article#share-section
  %header.top-box
    %h1 like it? share it!
    %p you know how to do it

  .bottom-box
    %a.button.alt.with-icon.facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=http://www.myviews.pl", :target => "_blank"}
      on facebook
    %a.button.alt.with-icon.twitter{:href => "https://twitter.com/share?url=http://www.myviews.pl&via=krzysu&text=I%27ve+just+visited+this+website%2C+you+should+too+-%3E&", :target => "_blank"}
      on twitter  
