#about-page {
  // display: none;
   
  ul {
    padding: 0;
  }

  li {
    list-style: none;

    a {
      display: block;
      padding: 1em 2em;
      margin-bottom: 0.2em;
      background: #eee;
    }
  }
}
