#main-slider
  .flexslider
    %ul.slides
      %li#index-page
        .page
          = partial 'partials/index'
      %li#about-page
        .page
          = partial 'partials/about'
      %li#benefits-page
        .page
          = partial 'partials/benefits'
      %li#contact-page
        .page
          = partial 'partials/contact'

%ul.hidden
  %li#about-open-source-page
    .page
      %h1 My best open source projects

  %li#making-of-page
    .page
      %h1 Making of page


