%h1
  Hi, my name is 
  %em Kris Urbas
%h2
  I'm mainly
  %em web developer
  and
  %em UX designer
  but I am
  %em open for new oportunities!
%h3
  What next?

%ul
  %li
    %a{:href => '#/about'} tell me more about you
  %li
    %a{:href => '#/benefits'} why I should hire you?
  %li
    %a{:href => '#/contact'} how can I contact you?
    // I have an outstanding job offer for you 


