#main-slider
  .flexslider
    %ul.slides
      %li
        #index-page.page
          = partial 'partials/index'
      %li
        #about-page.page
          = partial 'partials/about'
      %li
        #benefits-page.page
          = partial 'partials/benefits'
      %li
        #contact-page.page
          = partial 'partials/contact'

#making-of-page.hidden-page
  %h2 Making of page


